.container{
  margin-top: 20px;
  margin-left: 50px;
  margin-right: 50px;

  display: flex;
  flex-direction: column;
}

.table-header {
	background-color: #327ebd;
	color: white;
	padding: 0 5px;
}

.example-container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
}

.mat-form-field {
  font-size: 14px;
  flex-grow: 1;
  margin-top: 8px;
}

.example-no-results {
  display: flex;
  justify-content: center;
  padding: 24px;
  font-size: 12px;
  font-style: italic;
}

/** Selection styles */
.example-selection-header {
  background-color: cornflowerblue;
  font-size: 18px;
}

.example-container {
  display: flex;
  flex-direction: column;
  max-height: 500px;
  min-width: 300px;
}

