<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
		<integer>2</integer>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>MinimumOSVersion</key>
	<string>8.0</string>
	<key>CFBundleDisplayName</key>
	<string>NextPark</string>
	<key>CFBundleIdentifier</key>
	<string>ch.nextpark.nextparkapp</string>
	<key>CFBundleVersion</key>
	<string>1.0.17</string>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>XSAppIconAssets</key>
	<string>Assets.xcassets/AppIcon.appiconset</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleName</key>
	<string>NextPark</string>
	<key>CFBundleLocalizations</key>
	<array>
		<string>it</string>
	</array>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeName</key>
			<string>MKDirectionsRequest</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.apple.maps.directionsrequest</string>
			</array>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
		</dict>
	</array>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>La tua posizione viene rilevata allo scopo di mostrarti i parcheggi più vicini a te. 
La posizione viene inoltre utilizzata durante l’inserimento di un nuovo parcheggio per la localizzazione dello stesso nel momento in cui viene scattata la foto.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>La tua posizione viene rilevata allo scopo di mostrarti i parcheggi più vicini a te. 
La posizione viene inoltre utilizzata durante l’inserimento di un nuovo parcheggio per la localizzazione dello stesso nel momento in cui viene scattata la foto.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>La tua posizione viene rilevata allo scopo di mostrarti i parcheggi più vicini a te. 
La posizione viene inoltre utilizzata durante l’inserimento di un nuovo parcheggio per la localizzazione dello stesso nel momento in cui viene scattata la foto.</string>
	<key>NSCameraUsageDescription</key>
	<string>La fotocamera viene utilizzata per permetterti di caricare la foto del tuo parcheggio. </string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>La raccolta foto viene utilizzata per permetterti di scegliere la foto del tuo parcheggio.</string>
	<key>NSCalendarsUsageDescription</key>
	<string>I calendari vengono utilizzati per inserire le prenotazioni dei parcheggi.</string>
	<key>MKDirectionsApplicationSupportedModes</key>
	<array>
		<string>MKDirectionsModeCar</string>
		<string>MKDirectionsModePedestrian</string>
	</array>
	<key>UISupportsDocumentBrowser</key>
	<false/>
	<key>LSSupportsOpeningDocumentsInPlace</key>
	<true/>
	<key>Custom Property</key>
	<string></string>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
</dict>
</plist>
