<div fxLayout="column" fxFlexFill fxLayoutAlign="center center">
  <div fxLayout="row" fxFlexFill fxLayoutAlign="center center">
    <mat-card class="mat-elevation-z8">
      <mat-card-header fxLayoutAlign="center center">
        <mat-card-title>Login</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <form
          fxLayout="column"
          fxLayoutAlign="start stretch"
          [formGroup]="authService.loginForm"
          (ngSubmit)="login(authService.loginForm.value)"
        >
          <mat-form-field class="full-width">
            <input
              id="userName"
              matInput
              placeholder="Username"
              formControlName="userName"
              type="text"
              required
              class="input"
            />
            <mat-error>
              <span *ngIf="authService.formErrors.userName">{{
                authService.formErrors.userName
              }}</span>
            </mat-error>
          </mat-form-field>

          <mat-form-field class="full-width">
            <input
              matInput
              id="password"
              class="input"
              placeholder="Password"
              formControlName="password"
              type="password"
              required
            />
            <mat-error>
              <span *ngIf="authService.formErrors.password">{{
                authService.formErrors.password
              }}</span>
            </mat-error>
          </mat-form-field>
        </form>
        <div fxFlexFill fxLayoutAlign="center center">
          <mat-spinner
            fxLayoutAlign="center center"
            [diameter]="30"
            [style.display]="showSpinner ? 'block' : 'none'"
          ></mat-spinner>
        </div>
      </mat-card-content>
      <mat-card-actions fxLayoutAlign="center center" style="margin-bottom:10px">
        <button
          mat-raised-button
          (click)="login(authService.loginForm.value)"
          color="primary"
          type="submit"
        >
          Login
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
